* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    body: 100vw;

    background: linear-gradient(120deg, #20242e, #21222c);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);

    justify-content: center;
    align-content: center;

    width: 100%;
    height: 100%;
}



.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 6.25rem;
    height: 6.25rem;

    border: 2px solid #484d5a;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

/* removing top border */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3)
{  border-top: 0; }

/* removing left border */
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7)
{  border-left: 0; }

/* removing right border */
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9)
{  border-right: 0; }

/* removing bottom border */
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9)
{  border-bottom: 0; }

/* x icon */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover:before,
.board.x .cell:not(.x):not(.circle):hover:after {
    content: '';
    height: calc(6.25rem * 0.13); /* 15% of cell size */
    width: calc(6.25rem * 0.6); /* 60% of cell size */
    border-radius: 10px;

    position: absolute;

    background-color: #484d5a;
}

.cell.x::before, .board.x .cell:not(.x):not(.circle):hover:before 
{ transform: rotate(45deg); }
.cell.x::after, .board.x .cell:not(.x):not(.circle):hover:after 
{ transform: rotate(-45deg); }

/* circle icon */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover:before,
.board.circle .cell:not(.x):not(.circle):hover:after {
    content: '';
    height: calc(6.25rem * 0.6); /* 15% of cell size */
    width: calc(6.25rem * 0.6); /* 60% of cell size */
    border-radius: 50%;

    position: absolute;

    background-color: #484d5a;
}

/* next player opacity */
.board.x .cell:not(.x):not(.circle):hover:before,
.board.x .cell:not(.x):not(.circle):hover:after,
.board.circle .cell:not(.x):not(.circle):hover:before,
.board.circle .cell:not(.x):not(.circle):hover:after {
    background-color: #2e313a;
}

/* winning message */
.winning-message {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5);
}

.winning-message > button {
    padding: 15px 20px;
    margin-top: 1rem;

    font-size: 1.5rem;
    color: #fff;
    background: linear-gradient(90deg, #19063b, #06094d);

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.winning-message > p {
    color: #fff;
    font-size: 3rem;
}